* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#carousel {
  margin: 12vh auto 0;
  width: 1000px;
  height: 550px;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
}

ul {
  width: 5000px;
}

li {
  width: 1000px;
  float: left;
}

/* ARROWS */

.fa {
  color: #aaa;
  position: absolute;
  top: 240px;
  cursor: pointer;
}

.fa-angle-right {
  right: 10px;
}

.fa-angle-left {
  left: 10px;
}

/* CIRCLES */

.circles {
  position: relative;
}

span {
  height: 10px;
  width: 10px;
  border: .5px solid #aaa;
  position: absolute;
  border-radius: 50%;
  bottom: 50px;
  left: 47vw;
  cursor: pointer;
}

.active {
  background-color: #aaa;
}

span:nth-of-type(1) {left: 48vw;}
span:nth-of-type(2) {left: 49vw;}
span:nth-of-type(3) {left: 50vw;}
span:nth-of-type(4) {left: 51vw;}

span:hover {
  background-color: #aaa;
}
